av==14.3.0
streamlit==1.44.1
streamlit-webrtc==0.62.4
opencv-python==4.11.0.86
ultralytics==8.3.107
ultralytics-thop==2.0.14
numpy==1.26.4
onnx==1.17.0
onnxruntime-gpu==1.21.0
onnxslim==0.1.50
scikit-learn==1.6.1
torch==2.6.0+cu124
torchaudio==2.6.0+cu124
torchmetrics==1.7.1
torchsummary==1.5.1
torchvision==0.21.0+cu124